<div class="page__content">
  <h1>Test Helper</h1>

  <div class="navigation">
    <%= link_to "Questions", questions_path, class: 'navigation__item' %>
    <%= link_to "Attempts", attempts_path, class: 'navigation__item' %>
  </div>
</div>
